.canva {
  height: 500px;
  width: 500px;
  display: grid;
  border: 1px solid black;
}

.pixel {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  background-color: #f2f2f2;
}

button {
  background-color: #f2f2f2;
  border: 1 px solid black;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
